# Dependencias
node_modules/
package-lock.json

# Archivos de build
dist/
build/

# Editor
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Variables de entorno
.env
.env.local
